@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.base-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;

  .form-container {
    position: relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 600px;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

    h1 {
      text-align: center;
      margin: 30px;
      margin-bottom: 40px;
    }

    input {
      width: 100%;
      margin-bottom: 40px;
      padding: 15px 20px;
      border-radius: 20px;
      border: none;
      outline: none;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
    }

    textarea {
      resize: vertical;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
      outline: none;
      border: none;
      padding: 15px 20px;
      width: 100%;
      height: 160px;
      border-radius: 20px;
    }

    .btn {
      background: rgb(1, 17, 1);
      color: white;
      display: flex;
      justify-content: center;
      width: 300px;
      align-items: center;
      padding: 15px 20px;
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      margin-top: 40px;

      &:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      }
    }
    /* The switch - the box around the slider */
  }
  /* The switch - the box around the slider */

  .categories {
    h2 {
      margin-bottom: 15px;
    }
    select {
      margin-bottom: 25px;
      padding: 7px 15px;
      width: calc(100% - 60px);
      font-size: 16px;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 5x0px;
    height: 25px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}
