* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  background: rgb(226, 226, 226);
}

.i {
  cursor: pointer;
}

.flex-cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  cursor: pointer;
}

.grid-cc {
  display: grid;
  place-items: center;
}
