.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100vw;
  padding: 20px 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 99;
  background: white;
  //   width: 100vw;

  .logo {
    img {
      width: 50px;
      height: 50px;
      background: unset;
    }
  }

  .search-container {
    margin-left: 60px;
    padding: 12px 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 40px;

    input {
      border: none;
      outline: none;
      width: 250px;
      font-size: 16px;
    }
  }

  .links {
    display: flex;
    margin-left: auto;

    .link {
      margin-right: 25px;
      letter-spacing: 1.5px;
      font-size: 19px;
      font-weight: 700;
      color: rgb(115, 115, 115);

      &:hover {
        color: rgb(26, 26, 26);
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      }

      &.active {
        color: black;
      }
    }

    .left-links {
      margin-right: 60px;
    }

    .right-links {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
      }

      .btn {
        padding: 10px 15px;
        background: rgb(40, 23, 38);
        color: white;
        border-radius: 5px;

        &:hover {
          box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        }
      }
    }
  }
}
