.order-container {
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 40px 0px;
  border-radius: 5px;
  overflow: hidden;
  height: calc(100vh - 160px);
  width: 80vw;
  margin-left: auto;
  margin-right: auto;

  .sidebar {
    background: rgb(226, 213, 213);
    width: 30%;
    min-width: max-content;

    .links {
      padding-left: 20px;
      padding-top: 30px;
      width: 100%;
      display: flex;
      flex-direction: column;

      a {
        padding: 15px 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        cursor: pointer;
      }
    }
  }
  .right {
    width: 100%;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(161, 161, 161);
      border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
      background: rgb(233, 231, 231);
      border-radius: 50px;
    }

    .cooking-orders {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .card {
        height: 180px;
        width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        border-radius: 10px;
        margin: 20px;

        .top {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed gray;
          margin-bottom: 10px;

          .info {
            color: gray;
            margin-bottom: 10px;
          }
          .status {
            color: rgb(255, 106, 0);
          }
        }

        .middle {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          font-size: 17px;

          .left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 80%;
            overflow-wrap: break-word;

            .order-info {
              width: max-content;
              margin-right: 5px;
            }
          }

          .right {
            width: max-content;
            margin-top: 10px;

            .price {
              color: rgb(69, 175, 68);
            }
          }
        }

        .bottom {
          width: max-content;
          margin-top: 15px;
          padding: 5px 20px;
          font-size: 15px;
          background-color: black;
          color: white;
          border-radius: 10px;
        }
      }
    }

    .completed-orders {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .card {
        height: 180px;
        width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        border-radius: 10px;
        margin: 20px;

        .top {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed gray;
          margin-bottom: 10px;

          .info {
            color: gray;
            margin-bottom: 10px;
          }
          .status {
            color: rgb(34, 199, 45);
          }
        }

        .middle {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          font-size: 17px;

          .left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 80%;
            overflow-wrap: break-word;
            margin-bottom: 10px;

            .order-info {
              width: max-content;
              margin-right: 5px;
            }
          }

          .right {
            width: max-content;

            .price {
              color: rgb(69, 175, 68);
            }
          }
        }

        .bottom {
          width: max-content;
          margin-top: 15px;
          padding: 5px 20px;
          font-size: 15px;
          background-color: black;
          color: white;
          border-radius: 10px;
        }
      }
    }

    .previous-orders {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      .card {
        height: 180px;
        width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        padding: 10px 20px;
        border-radius: 10px;
        margin: 20px;

        .top {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px dashed gray;
          margin-bottom: 10px;

          .info {
            color: gray;
            margin-bottom: 10px;
          }
          .status {
            color: rgb(34, 199, 45);
          }
        }

        .middle {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          align-items: center;
          width: 100%;
          font-size: 17px;

          .left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            max-width: 80%;
            overflow-wrap: break-word;
            margin-bottom: 10px;

            .order-info {
              width: max-content;
              margin-right: 5px;
            }
          }

          .right {
            width: max-content;

            .price {
              color: rgb(69, 175, 68);
            }
          }
        }

        .bottom {
          width: max-content;
          margin-top: 15px;
          padding: 5px 20px;
          font-size: 15px;
          background-color: black;
          color: white;
          border-radius: 10px;
        }
      }
    }
  }
}
