.cart-card {
  width: 400px;
  height: 220px;
  margin-bottom: 40px;
  border-radius: 5px;
  margin: 20px;
  padding-right: 20px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1), 0 0 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 700px) {
    margin: 20px 0px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      img {
        width: 200px;
        height: 140px;
        object-fit: cover;
        margin: 10px;
        border-radius: 5px;
      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 21px;
        margin-bottom: 10px;
        text-align: center;
      }

      h3 {
        border-top: 1px solid gray;
        padding-top: 10px;
        color: gray;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    padding: 10px 15px;
    margin-left: 10px;

    .left {
      svg {
        margin-left: 20px;
        background: black;
        color: white;
        border-radius: 50%;
        cursor: pointer;
      }

      .i {
        margin-right: 20px;
      }
    }

    .right {
      font-size: 17px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(219, 52, 52);
      color: white;
      padding: 6px 20px;
      border-radius: 20px;
      width: max-content;
      cursor: pointer;
      svg {
        margin-left: 5px;
      }
    }
  }
}
